<mat-toolbar color="accent">
  <mat-icon>payment</mat-icon>
  <span>Paiement</span>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px"></ul>
  </div>
</mat-toolbar>
<div>
  <mat-icon color="primary">add</mat-icon>  <a routerLink="/lancer-un-paiement">nouveau paiement </a></div>

<div  *ngIf="paiementList" >
  <div *ngIf="paiementList.length != 0">
    <mat-form-field> <input (keyup)="appliquerfilter(filtrage)" matInput placeholder="Filtrer" [(ngModel)]="filtrage" ></mat-form-field>
    <div class="container">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


          <ng-container matColumnDef="N.o">
            <mat-header-cell *matHeaderCellDef> <h3> * </h3> </mat-header-cell>
            <mat-cell *matCellDef="let i = index"> {{i + 1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="client">
            <mat-header-cell *matHeaderCellDef><h3> Client</h3>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{ (element.client)}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="total_paye">
            <mat-header-cell *matHeaderCellDef><h3>Total TTC</h3>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.totalPaye}} {{configurationService.devise}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="date_paiement">
            <mat-header-cell *matHeaderCellDef><h3>Date de paiement</h3>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date_de_lancement}}  </mat-cell>
          </ng-container>

          <ng-container matColumnDef="consultation"  >
            <mat-header-cell *matHeaderCellDef> <h2>  </h2> </mat-header-cell>
            <mat-cell *matCellDef="let element"><button class="btn "  (click)="onConsulter(element.idPaiement )"><mat-icon color="primary">launch</mat-icon></button></mat-cell>
          </ng-container>

          <ng-container matColumnDef="suppression"  >
            <mat-header-cell *matHeaderCellDef> <h2> </h2> </mat-header-cell>
            <mat-cell *matCellDef="let element"><button class="btn "  (click)="onSupprimer(element.idPaiement )"><mat-icon color="accent">delete_forever</mat-icon></button></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[50, 20, 10, 5]" showFirstLastButtons></mat-paginator></div>
    </div>
  </div>
  <div *ngIf="paiementList == []">
    <div class="container">
      <h1 style="font-size:80px;font-weight:800;text-align:center;font-family: 'Roboto', sans-serif;">404</h1><br><br><br><br><br>
      <h2 style="font-size:25px;text-align:center;font-family: 'Roboto', sans-serif;margin-top:-40px;">
        Page non trouvée</h2>
      <p style="text-align:center;font-family: 'Roboto', sans-serif;font-size:12px;">
        La page que vous recherchez n'existe pas ou une autre erreur s'est produite.</p>
    </div>
  </div>
  <div *ngIf="paiementList.length == 0"><h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;">la liste des paiement est encore vide  ! </h3>
    <h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;"><button mat-raised-button  routerLink="/lancer-un-paiement">lancer un nouveau paiement</button> </h3></div>
</div>
