<div class="form-group">
  <mat-form-field appearance="fill">
      <mat-label>nouvelle famille:</mat-label>
      <input type="text"  matInput name="famille" ngModel [(ngModel)] = "nouvellefamille"
             required>
  </mat-form-field>
  <button mat-raised-button (click)="AjouterFamille(nouvellefamille)"  [disabled]="nouvellefamille === undefined || nouvellefamille === ''">ajouter</button>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let Famille of famille; let i = index "   >
    <th scope="row">{{ i+1 }}</th>
    <td>  {{ Famille.description }}  </td>
    <td>  <button mat-raised-button (click)="ModifierFamille({id: Famille.id, description: Famille.description})"><mat-icon>edit</mat-icon></button></td>
    <td><button class="btn btn-sm btn-danger"  type="button"   (click)="supprimerarticle(Famille.id)"><mat-icon>delete</mat-icon></button> </td>
  </tr>
  </tbody>
</table>
