
<mat-toolbar color="accent">
  <!-- <div *ngIf="loaderservice.isLoading | async" class="loader-container"><mat-spinner  class="mat-spinner" style="top: 50%;left: 50% "></mat-spinner></div>
-->
  <mat-icon></mat-icon>
  <span style="  font-size: 25px;">Chargement-Dechargement de stock</span>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px"></ul>

  </div>

</mat-toolbar>
<div class="container">
  <!--<div class="col-md-3">
    <button type="button" mat-raised-button routerLink="/lancer-une-commande"><h2><mat-icon color="primary">add</mat-icon> Lancer une commande </h2> </button>
  </div>-->
  <div class="col-md-2">
    <mat-form-field> <input (keyup)="appliquerfilter(filtrage)" matInput placeholder="Filtrer" [(ngModel)]="filtrage" ></mat-form-field>
  </div>
</div>

<div  *ngIf="transferts" >
  <div *ngIf="transferts.length != 0">

    <div class="container">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

          'num_transfert', 'commercial', 'type', 'date_de_lancement', 'status', 'edit', 'suppression'

          <ng-container matColumnDef="num_transfert">
            <mat-header-cell *matHeaderCellDef> <span style="font-size: 25px;"> <span>&#x2116;</span> Transfert </span> </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" > {{element.numTransfert}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="commercial">
            <mat-header-cell *matHeaderCellDef><span style="font-size: 25px;"> commercial</span>  </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" > {{element.nom}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef><span style="font-size: 25px;">Type</span>  </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" > {{element.charge}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date_de_lancement">
            <mat-header-cell *matHeaderCellDef><span style="font-size: 25px;">Date  </span>  </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" > {{element.dateDeLancement}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status"  >
            <mat-header-cell *matHeaderCellDef mat-sort-header> <span style="font-size: 25px;">Status</span> </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" >

              <section class="example-section">
                <mat-slide-toggle
                  class="example-margin" name="status"
                  ngModel
                  [(ngModel)] = "element.status"
                  color="primary"
                  (change)="OnchangeStatusTransfert(element.id_commande, element)"
                >
                </mat-slide-toggle>
                Approuvée
              </section>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="edit"  >
            <mat-header-cell *matHeaderCellDef> <h2>  </h2> </mat-header-cell>
            <mat-cell *matCellDef="let element"><button class="btn "  (click)="onModifier(element.id )"><mat-icon color="primary">launch</mat-icon></button></mat-cell>
          </ng-container>

          <ng-container matColumnDef="suppression"  >
            <mat-header-cell *matHeaderCellDef > <h2> </h2> </mat-header-cell>
            <mat-cell *matCellDef="let element"><button class="btn "  (click)="onSupprimer(element.id )"><mat-icon color="warn">delete_forever</mat-icon></button></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[50, 20, 10, 5]" showFirstLastButtons></mat-paginator></div>
    </div>
  </div>
  <div *ngIf="transferts == []">
    <div class="container">
      <h1 style="font-size:80px;font-weight:800;text-align:center;font-family: 'Roboto', sans-serif;">404</h1><br><br><br><br><br>
      <h2 style="font-size:25px;text-align:center;font-family: 'Roboto', sans-serif;margin-top:-40px;">
        Page non trouvée</h2>
      <p style="text-align:center;font-family: 'Roboto', sans-serif;font-size:12px;">
        La page que vous recherchez n'existe pas ou une autre erreur s'est produite.</p>
    </div>
  </div>
  <div *ngIf="transferts.length == 0"><h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;">la liste des transferts  est encore vide  ! </h3>
    <h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;"><button mat-raised-button  routerLink="/lancer-une-commande">lancer un nouveau transfert </button> </h3></div>
</div>

