<mat-toolbar color="accent">
  <!-- <div *ngIf="loaderservice.isLoading | async" class="loader-container"><mat-spinner  class="mat-spinner" style="top: 50%;left: 50% "></mat-spinner></div>
-->
  <mat-icon>money_off</mat-icon>
  <span>Gestion des promotion</span>
</mat-toolbar>

<div>
  <button type="button" mat-raised-button (click)="nouvellePromotion()"><mat-icon>add</mat-icon> Lancer une promotion  </button>

<div  *ngIf="gestionDesPrixService.Promotions" >
  <div *ngIf="gestionDesPrixService.Promotions.length != 0">
    <!--<mat-form-field> <input (keyup)="appliquerfilter(filtrage)" matInput placeholder="Filtrer" [(ngModel)]="filtrage" ></mat-form-field>
    -->
    <div class="container">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

           <ng-container matColumnDef="id">
            <mat-header-cell *matHeaderCellDef> <h3> <span>&#x2116;</span> </h3> </mat-header-cell>
            <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="description">
            <mat-header-cell *matHeaderCellDef><h3> Promotion</h3>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="type">
            <mat-header-cell *matHeaderCellDef><h3>Type</h3>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.type}}</mat-cell>
          </ng-container>

          <ng-container matColumnDef="date_debut">
            <mat-header-cell *matHeaderCellDef><h3>Debut</h3>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date_debut}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="date_fin">
            <mat-header-cell *matHeaderCellDef><h3>Expiration</h3>  </mat-header-cell>
            <mat-cell *matCellDef="let element"> {{element.date_fin}} </mat-cell>
          </ng-container>

          <ng-container matColumnDef="status"  >
            <mat-header-cell *matHeaderCellDef mat-sort-header> <h3>Status</h3> </mat-header-cell>
            <mat-cell *matCellDef="let element">

              <section class="example-section">
                <mat-slide-toggle
                  class="example-margin" name="status"
                  ngModel
                  [(ngModel)] = "element.status"
                  color="primary"
                  (change)="OnchangeStatusCommande(element.id, element)"
                >
                </mat-slide-toggle>
                Activée
              </section>

            </mat-cell>
          </ng-container>

          <ng-container matColumnDef="consulter"  >
            <mat-header-cell *matHeaderCellDef > <h2> </h2> </mat-header-cell>
            <mat-cell *matCellDef="let element"><button class="btn"  (click)="onConsulter(element )"><mat-icon color="primary">edit</mat-icon></button></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[50, 20, 10, 5]" showFirstLastButtons></mat-paginator></div>
    </div>
  </div>
 <!-- <div *ngIf="commandes == []">
    <div class="container">
      <h1 style="font-size:80px;font-weight:800;text-align:center;font-family: 'Roboto', sans-serif;">404</h1><br><br><br><br><br>
      <h2 style="font-size:25px;text-align:center;font-family: 'Roboto', sans-serif;margin-top:-40px;">
        Page non trouvée</h2>
      <p style="text-align:center;font-family: 'Roboto', sans-serif;font-size:12px;">
        La page que vous recherchez n'existe pas ou une autre erreur s'est produite.</p>
    </div>
  </div>
  <div *ngIf="commandes.length == 0"><h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;">la liste des commandes est encore vide  ! </h3>
    <h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;"><button mat-raised-button  routerLink="/lancer-une-commande">lancer une nouvelle commande </button> </h3></div>
  --></div>

