<button mat-raised-button color="primary" type="button" routerLink="/articles"><mat-icon>cancel</mat-icon> 	&nbsp; Annuler</button>
<br><br>
<div class="container">
  <form (ngSubmit)="onSubmit(f)" #f="ngForm">
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="fill" >
          <mat-label>nom article:</mat-label>
          <input type="text"  matInput name="nom_article" ngModel [ngModel] = "this.gestionDesArticlesService.article_consulter.nom_article"
                 required>
        </mat-form-field>
      </div><div class="col-md-4">
      <mat-form-field appearance="fill" >
        <mat-label>code article :</mat-label>
        <input type="text"  matInput name="code_article" ngModel [ngModel] = "this.gestionDesArticlesService.article_consulter.code_article"
               required>
      </mat-form-field>
    </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <mat-form-field appearance="fill" >
          <mat-label>propriété:</mat-label>
          <input type="text"  matInput name="prop_1" ngModel [ngModel] = "this.gestionDesArticlesService.article_consulter.prop_1"
                 required>
        </mat-form-field>
      </div>
      <div class="col-md-4">

        <mat-form-field appearance="fill">
          <mat-label>propriété 2 :</mat-label>
          <input type="text"  matInput name="prop_2" ngModel [ngModel] = "this.gestionDesArticlesService.article_consulter.prop_2"
                 required>
        </mat-form-field>
      </div>

    </div>
    <div class="row">

      <div class="col-md-4">

        <mat-form-field appearance="fill">
          <mat-label>Select an option</mat-label>
          <mat-select [value]="1">
            <mat-option>None</mat-option>
            <mat-option value="1">Option 1</mat-option>
            <mat-option value="2">Option 2</mat-option>
            <mat-option value="3">Option 3</mat-option>
          </mat-select>
        </mat-form-field>
        <p>You selected: {{test}}</p>

      </div> <div class="col-md-4">
      <mat-form-field appearance="fill">
        <mat-label>sous famille :</mat-label>
        <mat-select name="sous_famille" ngModel [ngModel] = "this.gestionDesArticlesService.article_consulter.sous_famille">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let sousfamille of SousFamille" value="{{sousfamille.id}}">{{sousfamille.description}}</mat-option>

        </mat-select>
      </mat-form-field>

    </div>
    </div>
    <div class="row">

      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>unite de stock :</mat-label>
          <mat-select name="unite_de_stock" ngModel [ngModel] = "this.gestionDesArticlesService.article_consulter.unite_de_stock"
                      required>
            <mat-option>None</mat-option>
            <mat-option value="unite de stock 1">unite de stock  1</mat-option>
            <mat-option value="unite de stock 2">unite de stock  2</mat-option>
            <mat-option value="unite de stock 3">unite de stock  3</mat-option>
          </mat-select>
        </mat-form-field>

      </div> <div class="col-md-4">
      <mat-form-field appearance="fill" >
        <mat-label>TVA :</mat-label>
        <input type="number"  matInput name="tva" ngModel [ngModel] = "this.gestionDesArticlesService.article_consulter.tva"
               required>
      </mat-form-field>
    </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <button mat-raised-button type="button" (click)="ajouterimages()">Images</button>
      </div>
    </div>
    <br><br>

    <br><br>
    <button mat-raised-button color="primary" type="submit" > <mat-icon>save</mat-icon>	&nbsp; Enregistrer</button>
  </form>
</div>
 <!-- [disabled]="!f.valid" -->
