<mat-toolbar color="accent">
  <mat-icon>payment</mat-icon>
  <span style="  font-size: 25px;"> Consultation - Paiement</span>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px">
      <button class="btn btn-danger"  mat-dialog-close mat-dialog-close=""><mat-icon>close</mat-icon>
      </button>    </ul>
  </div>
</mat-toolbar>

<br><br>

<!--
   <div class="col-md-9">
   </div>
   <div class="col-md-3">
    <label><h1> Facture N.O</h1></label>
  </div> -->
<div *ngIf="data.paiemententetee != undefined" class="container">

<mat-card style="height: 270px" >
  <mat-card-header>
    <div mat-card-avatar ></div>
  </mat-card-header>
  <div>
    <div style="display: block">
      <div class="col-md-3" style="background-color: #DCDCDC">
        <div >
          <h3 class="example-h2"><label> Paiement <span>&#x2116;</span>  </label>&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	:&nbsp;	 {{data.paiemententetee.numPaiement}}</h3>

        </div>
        <div >
          <h3 class="example-h2"><label>date de paiement </label>  	:&nbsp;	{{data.paiemententetee.dateDeLancement}}</h3>
        </div>
        <div >
          <h3 class="example-h2"><label>total paye </label>&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	:&nbsp;	 {{data.paiemententetee.totalPaye}} {{configurationService.devise}}</h3>
        </div>


      </div>
      <div class="col-md-6"></div>
      <div class="col-md-3" style="background-color: #DCDCDC">
        <div>
          <h3 class="example-h2"><label>code client&nbsp;	&nbsp;	&nbsp; </label>: {{data.paiemententetee.codeClient}}</h3>
        </div>
        <div >
          <h3 class="example-h2"><label>Nom client &nbsp;	&nbsp;	 </label> : {{data.paiemententetee.nomClient}}</h3>
        </div>
        <div >
          <h3 class="example-h2"><label>Commercial 	&nbsp;</label>: {{data.paiemententetee.nomCommercial}}</h3>
        </div>
      </div>
    </div>
    </div>
</mat-card>
  <br>

  <br><br>
  <br><br>

  <br><br>

  <div *ngIf="data.paiementchequeList.length > 0" class="container">
    <h2>Cheques</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Porteur du cheque</th>
        <th scope="col">banque</th>
        <th scope="col">Numero Cheque</th>
        <th scope="col">Date du cheque</th>
        <th scope="col">Montant paye</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Paiementcheque of data.paiementchequeList; let i = index "   >
        <th scope="row"> </th>
        <td>  {{ Paiementcheque.porteurDuCheque }}  </td>
        <td>{{ Paiementcheque.banque}}</td>
        <td>{{ Paiementcheque.numCheque}} </td>
        <td>{{ Paiementcheque.dateCheque }}</td>
        <td>{{ Paiementcheque.montantPaye }} {{configurationService.devise}}</td>

      </tr>
      </tbody>
    </table></div>
  <div *ngIf="data.paiementeffetList.length > 0" class="container">
    <h2>Effet</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Porteur Du Cheque</th>
        <th scope="col">Banque</th>
        <th scope="col">Numero Effet</th>
        <th scope="col">Date d'effet</th>
        <th scope="col">Montant paye</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Paiementeffet of data.paiementeffetList; let i = index "   >
        <th scope="row"> </th>
        <td>  {{ Paiementeffet.porteurDuCheque }}  </td>
        <td>{{ Paiementeffet.banque}}</td>
        <td>{{ Paiementeffet.numEffet}} </td>
        <td>{{ Paiementeffet.dateCheque }}</td>
        <td>{{ Paiementeffet.montantPaye }} {{configurationService.devise}}</td>

      </tr>
      </tbody>
    </table></div>
  <div *ngIf="data.paiementtpeList.length > 0" class="container">
    <h2>TPE</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Numero de la carte</th>
        <th scope="col">Date d'expiration</th>
        <th scope="col">Montant paye</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Paiementtpe of data.paiementtpeList; let i = index "   >
        <th scope="row"> </th>
        <td>{{ Paiementtpe.numCarte}} </td>
        <td>{{ Paiementtpe.dateExpiration }}</td>
        <td>{{ Paiementtpe.montantPaye }} {{configurationService.devise}}</td>

      </tr>
      </tbody>
    </table></div>
  <div *ngIf="data.paiementvirementList.length > 0" class="container">
    <h2>Virement</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Numero Virement</th>
        <th scope="col">Date de virement</th>
        <th scope="col">Montant paye</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Paiementvirement of data.paiementvirementList; let i = index "   >
        <th scope="row"> </th>
        <td>{{ Paiementvirement.numVirement}} </td>
        <td>{{ Paiementvirement.dateDeVirement }}</td>
        <td>{{ Paiementvirement.montantPaye }} {{configurationService.devise}}</td>

      </tr>
      </tbody>
    </table></div>
  <div *ngIf="data.paiementespeceList.length > 0" class="container">
    <h2>Especes</h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col"> </th>
        <th scope="col">Montant Paye {{configurationService.devise}} </th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let Paiementespese of data.paiementespeceList; let i = index "   >
        <th scope="row"> </th>
        <td>{{ Paiementespese.montantPaye}} {{configurationService.devise}}</td>
      </tr>
      </tbody>
    </table></div>
  <div>
    <div class="row">
      <div class="col-md-1">
      </div>
      <div class="col-md-1">
        <button  class="btn btn-sm btn-primary"  type="button" (click)="ConsulterFichierJointe()"><mat-icon> attach_file</mat-icon>Piece jointe</button>
      </div>
      <div class="col-md-7">
      </div>
      <div class="col-md-1">
        <button    class="btn btn-sm btn-success"  type="button"  (click)="getFactures(data.paiemententetee.numPaiement)"><mat-icon> money</mat-icon>Factures payées</button>
      </div>
    </div>
    <br>
    <div  *ngIf="factures" >
      <div *ngIf="factures.length != 0">
        <div class="container">

          <div class="mat-elevation-z8">
            <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

              <!--
                <ng-container matColumnDef="N.o" >
                  <mat-header-cell *matHeaderCellDef> <span style="  font-size: 15px;"> <span>&#x2116;</span> facture </span> </mat-header-cell>
                  <mat-cell *matCellDef="let element let i = index" > {{element.numFacture}} </mat-cell>
                </ng-container> -->
              <ng-container matColumnDef="code">
                <mat-header-cell *matHeaderCellDef> <span style="  font-size: 15px;"> Code Client </span> </mat-header-cell>
                <mat-cell *matCellDef="let element let i = index" >
                  <div>{{element.codeClient}}</div>
                </mat-cell>
              </ng-container>
              <ng-container matColumnDef="nom_client">
                <mat-header-cell *matHeaderCellDef> <span style="  font-size: 15px;"> Client</span> </mat-header-cell>
                <mat-cell *matCellDef="let element let i = index" > {{element.nomClient}} </mat-cell>
              </ng-container>


              <ng-container matColumnDef="total_ttc">
                <mat-header-cell *matHeaderCellDef><span style="  font-size: 15px;"> Total TTC</span>  </mat-header-cell>
                <mat-cell *matCellDef="let element let i = index" > {{element.	totalTTC}} {{configurationService.devise}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Montant">
                <mat-header-cell *matHeaderCellDef><span style="  font-size: 15px;"> Montant Payé</span>  </mat-header-cell>
                <mat-cell *matCellDef="let element let i = index" > {{element.montantPaye}} {{configurationService.devise}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="MontantTotal">
                <mat-header-cell *matHeaderCellDef><span style="  font-size: 15px;"> Montant Total Payé</span>  </mat-header-cell>
                <mat-cell *matCellDef="let element let i = index" > {{element.montantPayePaiement}} {{configurationService.devise}} </mat-cell>
              </ng-container>
              <ng-container matColumnDef="Date">
                <mat-header-cell *matHeaderCellDef><span style="  font-size: 15px;"> Date</span>  </mat-header-cell>
                <mat-cell *matCellDef="let element let i = index" > {{element.dateDeLancement}}</mat-cell>
              </ng-container>
              <ng-container matColumnDef="DateEcheance">
                <mat-header-cell *matHeaderCellDef><span style="  font-size: 15px;"> Date d'echeance</span>  </mat-header-cell>
                <mat-cell *matCellDef="let element let i = index" > {{element.dateEcheance}} </mat-cell>
              </ng-container>

              <!--
                        <ng-container matColumnDef="objectif"  >
                          <mat-header-cell *matHeaderCellDef> <h2> Objectif : </h2> </mat-header-cell>
                          <mat-cell *matCellDef="let element"><button class="btn "  (click)="Ongetobjectif(element.id_commercial )"><mat-icon color="primary">done_all</mat-icon></button></mat-cell>
                        </ng-container>
              -->
              <ng-container matColumnDef="edit"  >
                <mat-header-cell *matHeaderCellDef> <h2>  </h2> </mat-header-cell>
                <mat-cell *matCellDef="let element"><button class="btn "  (click)="onModifier(element.idFacture)"><mat-icon color="primary">launch</mat-icon></button></mat-cell> -->
               </ng-container>

              <ng-container matColumnDef="suppression">
                <mat-header-cell *matHeaderCellDef> <h2> </h2> </mat-header-cell>
                <mat-cell *matCellDef="let element">
                  <!-- <button class="btn "  (click)="onSupprimer(element.idFacture)" disabled><mat-icon color="warn">delete_forever</mat-icon></button> -->
                  <button class="btn btn-success col-md-9"  disabled *ngIf="element.paye === 1">Payée</button>
                  <button class="btn btn-danger col-md-9"  disabled *ngIf="element.paye === 0">Non-Payée</button>
                  <button class="btn btn-warning col-md-9"  disabled *ngIf="element.paye === undefined">Encours</button>
                </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
              <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <mat-paginator [pageSizeOptions]="[50, 20, 10, 5]" showFirstLastButtons></mat-paginator></div>
        </div>
      </div>
      <!-- <div *ngIf="factures == []">
         <div class="container">
           <h1 style="font-size:80px;font-weight:800;text-align:center;font-family: 'Roboto', sans-serif;">404</h1><br><br><br><br><br>
           <h2 style="font-size:25px;text-align:center;font-family: 'Roboto', sans-serif;margin-top:-40px;">
             Page non trouvée</h2>
           <p style="text-align:center;font-family: 'Roboto', sans-serif;font-size:12px;">
             La page que vous recherchez n'existe pas ou une autre erreur s'est produite.</p>
         </div>
       </div>
       <div *ngIf="factures.length == 0"><h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;">la liste des factures est encore vide  ! </h3>
         <h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;"><button mat-raised-button  routerLink="/creer-une-facture">Ajouter une nouvelle facture </button> </h3></div>
         -->
    </div>
  </div>

</div>

