
<mat-toolbar color="accent">
  <!-- <div *ngIf="loaderservice.isLoading | async" class="loader-container"><mat-spinner  class="mat-spinner" style="top: 50%;left: 50% "></mat-spinner></div>
-->
  <mat-icon>settings_backup_restore</mat-icon>
  <span>Consultation - retour</span>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px"></ul>


  </div>
</mat-toolbar><button mat-raised-button color="primary" type="button" routerLink="/retours"><mat-icon>cancel</mat-icon> 	&nbsp; Retour</button>
<br><br>
<!--
   <div class="col-md-9">
   </div>
   <div class="col-md-3">
    <label><h1> Facture N.O</h1></label>
  </div> -->

<div>
  <div class="col-md-1"></div>
  <div class="col-md-10">

    <mat-card class="mat-card" >

      <br>

<div *ngIf="gestionDesRetoursService.retours_consultee" class="container">
  <div class="col-md-3" style="background-color: #DCDCDC">
    <div >
      <h3 class="example-h2"><label>Date du retour  </label> &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;	:&nbsp;	{{gestionDesRetoursService.retours_consultee.date_de_lancement}}</h3>
    </div>
    <div >
      <h3 class="example-h2"><label> Retour <span>&#x2116;</span></label>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;	&nbsp;	 :&nbsp;		{{gestionDesRetoursService.retours_consultee.num_retour}}</h3>
    </div>
    <div >
      <h3 class="example-h2"><label> Facture <span>&#x2116;</span></label>&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	&nbsp;	:&nbsp;	 {{gestionDesRetoursService.retours_consultee.num_retour}}{{gestionDesRetoursService.retours_consultee.num_facture}}</h3>
    </div>



  </div>
  <div class="col-md-6"></div>
  <div class="col-md-3" style="background-color: #DCDCDC">
    <div>
      <h3 class="example-h2"><label>Code client&nbsp;	&nbsp;	&nbsp; </label>: {{gestionDesRetoursService.code_client_retour}}</h3>
    </div>
    <div >
      <h3 class="example-h2"><label>Nom client &nbsp;	&nbsp;	 </label> : {{gestionDesRetoursService.retours_consultee.nom_client}}</h3>
    </div>
    <div >
      <h3 class="example-h2"><label>Motif 	&nbsp;</label>: {{gestionDesRetoursService.retours_consultee.motif}}</h3>
    </div>



  </div>
  <br>

  <br><br>
  <br><br>

  <br><br><br><br><br><br><br><br>



  <div *ngIf="gestionDesRetoursService.retours_details.length > 0" class="container">
    <h2>Articles retournés  </h2>
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">article</th>
        <th scope="col">designation</th>
        <th scope="col">quantite</th>
        <th scope="col">prix unitaire</th>
        <th scope="col">magasin</th>
        <th scope="col">remise</th>
        <th scope="col">TVA</th>
        <th scope="col">Total TTC</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let articleachetes of gestionDesRetoursService.retours_details; let i = index "   >
        <th scope="row">{{  i+1}}</th>
        <td>  {{ articleachetes.code_article }}  </td>
        <td>  {{ articleachetes.description }}  </td>
        <td>{{ articleachetes.quantite | number}}</td>
        <td>{{ articleachetes.prix | number}} {{configurationService.devise}}</td>
        <td>{{ articleachetes.id_magasin }}</td>
        <td>{{ articleachetes.remise }}</td>
        <td>{{ articleachetes.tva }}%</td>
        <td>{{ articleachetes.total_ligne_TTC }} {{configurationService.devise}}</td>

      </tr>
      </tbody>
    </table></div>
  <br><br>
  <div>
    <div class="col-md-9"></div>
    <div class>
      <h3 class="example-h2"><label>Total HT : </label>	&nbsp;	&nbsp;{{gestionDesRetoursService.retours_consultee.total_HT}} {{configurationService.devise}}</h3>
    </div>
  </div>
  <div>
    <div class="col-md-9"></div>
    <div><h3 class="example-h2"><label>Total TTC : </label>	&nbsp;{{gestionDesRetoursService.retours_consultee.total_TTC}} {{configurationService.devise}}</h3>
    </div>
  </div>

</div>
    </mat-card>
  </div>
  <div class="col-md-1"></div>
</div>
