<mat-toolbar color="accent">
  <!-- <div *ngIf="loaderservice.isLoading | async" class="loader-container"><mat-spinner  class="mat-spinner" style="top: 50%;left: 50% "></mat-spinner></div>
-->
  <mat-icon>view_list</mat-icon>
  <span>Articles</span>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px"></ul>


  </div>
</mat-toolbar>
<div><mat-icon color="primary">note_add</mat-icon>  <a routerLink="/articles-ajout">Ajouter un nouveau article </a></div>

<div  *ngIf="articles" >
  <div *ngIf="articles.length != 0">
    <mat-form-field> <input (keyup)="appliquerfilter(filtrage)" matInput placeholder="Filtrer" [(ngModel)]="filtrage" ></mat-form-field>
    <div class="container"> <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

        <ng-container matColumnDef="id_article ">
          <mat-header-cell  *matHeaderCellDef><h2> No. </h2></mat-header-cell>
          <mat-cell *matCellDef="let i = index"> {{i+1}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="code_article">
          <mat-header-cell *matHeaderCellDef> <h2> Code </h2> </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.code_article }} </mat-cell>
        </ng-container>
        nom_utilisateur,cin,date_activite_debut, 	date_activite_fin, edit, delete
        <ng-container matColumnDef="nom_article">
          <mat-header-cell *matHeaderCellDef> <h2> Article </h2> </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.nom_article }} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="groupe_article">
          <mat-header-cell *matHeaderCellDef><h2>Groupe</h2>  </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.groupe_article }} </mat-cell>
        </ng-container>


        <ng-container matColumnDef="edit"  >
          <mat-header-cell *matHeaderCellDef> <h2>  </h2> </mat-header-cell>
          <mat-cell *matCellDef="let element"><button class="btn "  (click)="OnModifier(element.id_article  )"><mat-icon color="primary">edit</mat-icon></button></mat-cell>
        </ng-container>

        <ng-container matColumnDef="delete"  >
          <mat-header-cell *matHeaderCellDef> <h2> </h2> </mat-header-cell>
          <mat-cell *matCellDef="let element"><button class="btn "  (click)="OnSupprimer(element.id_article )"><mat-icon color="accent">delete_forever</mat-icon></button></mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator></div>
  </div>
  </div>
  <div *ngIf="gestionDesArticlesService.articles == []">
    <div class="container">
      <h1 style="font-size:80px;font-weight:800;text-align:center;font-family: 'Roboto', sans-serif;">404</h1><br><br><br><br><br>
      <h2 style="font-size:25px;text-align:center;font-family: 'Roboto', sans-serif;margin-top:-40px;">
        Page non trouvée</h2>
      <p style="text-align:center;font-family: 'Roboto', sans-serif;font-size:12px;">
        La page que vous recherchez n'existe pas ou une autre erreur s'est produite.</p>
    </div>
  </div>
  <div *ngIf="articles.length == 0"><h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;">la liste des articles est encore vide  ! </h3>
    <h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;"><button mat-raised-button  routerLink="/articles-ajout">Ajouter un nouveau article </button> </h3></div>
</div>
