<br>
<form (ngSubmit)="onSubmit(f)" #f="ngForm" class="container">
 <!-- <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>Zone :</mat-label>
      <mat-select name="zone" ngModel
                  type="text" (selectionChange)="getReportingZone(f.value)" [ngModel] = zone>
        <mat-option  value="toutes les zones">Toutes les zones</mat-option>
        <mat-option *ngFor="let zones of reportingService.zones let  index = index"
                    value="{{zones.zone }}">{{index + 1}} &nbsp;&nbsp; {{zones.zone}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->
  <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>Date debut </mat-label>
      <input matInput ngModel [matDatepicker]="picker" required name="dateDebut">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>Date fin</mat-label>
      <input matInput ngModel [matDatepicker]="picker2" required name="dateFin">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <button class="btn btn-success mat-button" type="submit" [disabled]="!f.valid">submit</button>
  </div>

  <!-- <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>Famille :</mat-label>
      <mat-select name="famille" ngModel
                  type="text" (selectionChange)="getReportingZone(f.value)" [ngModel] = zone>
        <mat-option value="null" >Toutes les Famille</mat-option>
        <mat-option *ngFor="let famille of reportingService.familles let  index = index"
                    value="{{famille.description }}">{{index + 1}} &nbsp;&nbsp; {{famille.description}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  -->
</form>
<!-- ******************************************************************************************************************* -->
<div *ngIf="this.reportingService.reportingFacture.length > 0 || this.reportingService.reportingRetours.length > 0" >
<div class="row">
  <div class="col-md-1"></div>
  <mat-card class="col-md-9" *ngIf="barChartData.length > 0">
    <mat-card-header>
      <div mat-card-avatar ></div>
      <mat-card-title>Chiffres d'affaires des commerciaux</mat-card-title>
    </mat-card-header>

    <div>
      <div *ngIf="true" >
        <div style="display: block">
          <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [legend]="barChartLegend"
                  chartType ="bar">
          </canvas>
        </div>
      </div>
    </div>
    <mat-card-content>
      <br>
      <div *ngIf="detail">
        <button mat-raised-button class="btn-info" (click)="details()" >Details</button>
      </div>
      <div *ngIf="!detail">
        <button mat-raised-button class="btn-danger" (click)="details()" > Masquer </button>

        <ul *ngFor="let commercial1 of datax  let i = index">
          {{barChartLabels[i] }}: {{commercial1}} {{configurationService.devise}}

        </ul>
      </div>


    </mat-card-content>
  </mat-card>
</div>

<!-- ******************************************************************************************************************* -->
<br>
<div class="row">
  <div class="col-md-1"></div>
  <mat-card class="col-md-9" >
    <mat-card-header>
      <div mat-card-avatar ></div>
      <mat-card-title>Chiffres d'affaires du commercial </mat-card-title>
    </mat-card-header>
    <mat-card-content>

    <form #f2="ngForm" class="container">
      <div class="col-md-3">
        <mat-form-field appearance="fill">
          <mat-label>Commerciaux :</mat-label>
          <mat-select name="commercial" ngModel
                      type="text" (selectionChange)=" getReportingCommercial(f2.value)" >
            <mat-option  value="toutes les zones">Toutes les zones</mat-option>
            <mat-option *ngFor="let commercial of reportingService.commerciaux let  index = index"
                        value="{{commercial.id_commercial }}">{{index + 1}} &nbsp;&nbsp; {{commercial.nom}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </form>

    <div *ngIf="chartDatasets.length > 0" style="display: block">
      <canvas baseChart
              chartType="line"
              [datasets]="chartDatasets"
              [labels]="chartLabels"
              [colors]="chartColors"
              [options]="chartOptions"
              [legend]="true"
              (chartHover)="chartHovered($event)"
              (chartClick)="chartClicked($event)">
      </canvas>
    </div>
    </mat-card-content>
  </mat-card>
</div>
</div>
