
<mat-toolbar color="accent">
  <!-- <div *ngIf="loaderservice.isLoading | async" class="loader-container"><mat-spinner  class="mat-spinner" style="top: 50%;left: 50% "></mat-spinner></div>
-->
  <mat-icon>description</mat-icon>
  <span>Lancer un retour </span>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px"></ul>


  </div>
</mat-toolbar>
<button mat-raised-button color="primary" type="button" routerLink="/retours"><mat-icon>cancel</mat-icon>   &nbsp; Annuler</button>
<br><br>

<div class="container">
  <form (ngSubmit)="onSubmit(ff)" #ff="ngForm">

    <mat-toolbar-row>
      <div class="col-md-4" *ngIf="boolean2">
        <mat-form-field appearance="fill">
          <mat-label>Code du client </mat-label>
          <input matInput type="text" class="example-right-align"  ngModel name="client_code_selected" disabled [ngModel]="getclient_code()" >
        </mat-form-field>
      </div>
      <div class="col-md-4" *ngIf="!boolean2">
        <mat-form-field class="example-full-width">
          <mat-label>code du client </mat-label>
          <input type="text"
                 placeholder="choisir un code client"
                 matInput
                 required
                 [formControl]="myControl3"
                 [matAutocomplete]="auto3" [(ngModel)]="client_code_selected" >
          <mat-autocomplete #auto3="matAutocomplete" >
            <mat-option *ngFor="let option of filteredOptions3 | async" [value]="option" >
              <div>
                <span> {{option}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field> <button mat-raised-button type="button" (click)="rechercheClient()"><mat-icon>search</mat-icon></button>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px"></ul>
        <div class="col-md-3">
          <mat-form-field appearance="fill" >
            <mat-label>  Num retour  :</mat-label>
            <input type="number"  matInput name="num_retour" ngModel
                   required >
          </mat-form-field>
          <button mat-raised-button type="button" (click)="selectionnerFacture()">selectionner facture<mat-icon>youtube_searched_for</mat-icon></button>
        </div>
      </div>

    </mat-toolbar-row>

    <mat-toolbar-row>
      <div class="col-md-4" *ngIf="boolean2" >
        <mat-form-field appearance="fill" >
          <mat-label>	Nom client :</mat-label>
          <input type="text"  matInput name="nom_client" ngModel  disabled [ngModel]="getclient_nom()"
                 required >
        </mat-form-field>
      </div>
      <div class="col-md-4" *ngIf="!boolean2">
        <mat-form-field class="example-full-width">
          <mat-label>Nom du client </mat-label>
          <input type="text"
                 placeholder="choisir un client"
                 aria-label="client"
                 matInput
                 required
                 ngModel
                 name="nom_client"
                 [formControl]="myControl2"
                 [matAutocomplete]="auto2" [(ngModel)]="client_selectionnee"  >
          <mat-autocomplete #auto2="matAutocomplete">
            <mat-option *ngFor="let options of filteredOptions2 | async" [value]="options">
              <div>
                <span> {{options}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px"></ul>
        <div class="col-md-3" *ngIf="boolean2">
          <mat-form-field appearance="fill" >
            <mat-label>  Num Facture  :</mat-label>
            <input type="number"  matInput name="num_facture" ngModel [ngModel] = "gestionDesRetoursService.factureSelectionnee.num_facture"
                   required  disabled>
          </mat-form-field>
        </div>
      </div>
      <br><br><br><br>
    </mat-toolbar-row>
    <br>

    <mat-toolbar-row>
      <div class="col-md-4">
        <mat-form-field appearance="fill">
          <mat-label>Motif :</mat-label>
          <mat-select name="motif" ngModel required
                      type="text" >
            <mat-option >None</mat-option>
            <mat-option *ngFor="let motif of gestionDesRetoursService.motif let  index = index"
                        value="{{motif.motif }}">{{index + 1}} &nbsp;&nbsp; {{motif.motif}} </mat-option>
          </mat-select>
        </mat-form-field>
      </div>


      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px"></ul>
        <div class="col-md-3">
          <mat-form-field>
            <input
              name="date_retour"
              ngModel
              matInput
              required
              [matDatepicker] = "picker1"
              placeholder="Date de lancement"/>
            <mat-datepicker-toggle
              matSuffix
              [for]="picker1">
            </mat-datepicker-toggle>
            <mat-datepicker #picker1></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
    </mat-toolbar-row>

    <br><br>
    <br><br>
  </form>
  <form (ngSubmit)="onSubmitt(f)" #f="ngForm">

    <mat-toolbar-row (mouseleave)="calculerprix()">
      <div class="col-md-4" (mouseleave)="rechercheprix()" >

        <mat-form-field class="example-full-width" >
          <mat-label>article </mat-label>
          <input type="text"
                 placeholder="choisir un article"
                 aria-label="article"
                 matInput
                 ngModel
                 required
                 name="code_article"
                 [formControl]="myControl"
                 [matAutocomplete]="auto" [(ngModel)]="article_selected" >
          <mat-autocomplete #auto="matAutocomplete" >
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [disabled]="!gestionDesRetoursService.TablePrix">
              <div>
                <span> {{option}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <!-- <button  mat-raised-button type="button" (click)="rechercheprix()" [disabled]="!gestionDesRetoursService.TablePrix "><mat-icon>search</mat-icon></button>
      --> </div>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      <div class="col-md-4">
        &nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
          <mat-label>designation</mat-label>
          <input matInput type="text" class="example-right-align"  ngModel name="designation" [disabled]="true" [(ngModel)]="designation">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
          <mat-label>Prix unitaire</mat-label>
          <input matInput type="number" class="example-right-align"  ngModel name="prix" required [disabled]="!gestionDesRetoursService.TablePrix " [(ngModel)]="article_prix">
          <span matPrefix>&nbsp;</span>
          <span matSuffix>{{configurationService.devise}}</span>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill" >
          <mat-label>quantite :</mat-label>
          <input type="number"  matInput name="quantite" [(ngModel)]="article_quantite" [disabled]="!gestionDesRetoursService.TablePrix "
                 required >
        </mat-form-field>
      </div>


    </mat-toolbar-row>
    <mat-toolbar-row (mouseleave)="calculerprix()">
      <div class="col-md-4">
        <mat-form-field class="example-full-width">
          <mat-label>Magasin </mat-label>
          <input type="text"
                 placeholder="choisir un magasin"
                 aria-label="magasin"
                 matInput
                 ngModel
                 required
                 name="magasin"
                 [formControl]="myControl4"
                 [matAutocomplete]="auto4" [(ngModel)]="magasin_selected"  >
          <mat-autocomplete #auto4="matAutocomplete">
            <mat-option *ngFor="let options of filteredOptions4 | async" [value]="options">
              <div>
                <span> {{options}}</span>
              </div>
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        &nbsp;
      </div>
      <div class="col-md-4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
          <mat-label>remise</mat-label>
          <input matInput type="number" class="example-right-align"  ngModel name="remise" [disabled]="!gestionDesRetoursService.TablePrix" [(ngModel)]="remise">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
          <mat-label>TVA</mat-label>
          <input matInput type="number" class="example-right-align"  ngModel name="TVA" [disabled]="true" [(ngModel)]="TVA">
        </mat-form-field>
      </div>
      <div class="col-md-4">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <mat-form-field appearance="fill">
          <mat-label>Prix TTC</mat-label>
          <input matInput type="number" class="example-right-align"  ngModel name="PRIX" required [disabled]="true" [(ngModel)]="PRIX">
          <span matPrefix>&nbsp;</span>
          <span matSuffix>{{configurationService.devise}}</span>
        </mat-form-field>
        <button class="btn btn-sm btn-primary" type="button" (click)="ajouterarticle(f)" [disabled]="!f.valid || (!magasin_selected) || (remise == null) || (article_prix == null)"><mat-icon>add_circle</mat-icon></button>
      </div>

    </mat-toolbar-row>
  </form>
  <br><br>
  <div *ngIf="gestionDesRetoursService.articlesderetours" class="container">
    <div *ngIf="gestionDesRetoursService.articlesderetours" class="container">
      <h2>Articles retournés  </h2>
      <table class="table table-striped">
        <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">articles</th>
          <th scope="col">quantite</th>
          <th scope="col">prix unitaire</th>
          <th scope="col">magasin</th>
          <th scope="col">remise</th>
          <th scope="col">TVA</th>
          <th scope="col">Total </th>
          <th scope="col"> *</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let articleachetes of gestionDesRetoursService.articlesderetours; let i = index "   >
          <th scope="row">{{  i+1}}</th>
          <td>  {{ articleachetes.code_article }}  </td>
          <td>{{ articleachetes.quantite | number}}</td>
          <td>{{ articleachetes.prix | number}}</td>
          <td>{{ articleachetes.magasin }}</td>
          <td>{{ articleachetes.remise }}</td>
          <td>{{ articleachetes.tva }}</td>
          <td>{{ articleachetes.total_ligne_TTC  }}</td>
          <td><button class="btn btn-sm btn-danger"  type="button" style="position : absolute  ;" (click)="supprimerarticle(i)">Supprimer</button> </td>
        </tr>
        </tbody>
      </table></div>
    <br><br>
    <div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px"></ul>
        <div class="col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Total HT</mat-label>
            <input matInput type="number" class="example-right-align"  ngModel name="totalHC" [disabled]="true" [(ngModel)]="totalhc">
            <span matPrefix>&nbsp;</span>
            <span matSuffix>{{configurationService.devise}}</span>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div>
      <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
        <ul fxLayout="row" fxLayoutGap="20px"></ul>
        <div class="col-md-4">
          <mat-form-field appearance="fill">
            <mat-label>Total TTC</mat-label>
            <input matInput type="number" class="example-right-align"  ngModel name="totalTTC" [disabled]="true" [(ngModel)]="totalTTC">
            <span matPrefix>&nbsp;</span>
            <span matSuffix>{{configurationService.devise}}</span>
          </mat-form-field>
        </div>
      </div>
    </div>
    <mat-toolbar-row>
      <button *ngIf="!boolean2" mat-raised-button color="primary" type="submit" [disabled]="!ff.valid || !client" (click)="onSubmit(ff)"> <mat-icon>add_circle</mat-icon>  &nbsp; lancer le retour</button>
      <button *ngIf="boolean2" mat-raised-button color="primary" type="submit" [disabled]="!ff.valid" (click)="onSubmit(ff)"> <mat-icon>add_circle</mat-icon>  &nbsp; lancer le retour</button>
    </mat-toolbar-row>
  </div>
</div>
