<mat-toolbar color="accent">
  <!-- <div *ngIf="loaderservice.isLoading | async" class="loader-container"><mat-spinner  class="mat-spinner" style="top: 50%;left: 50% "></mat-spinner></div>
-->
  <mat-icon>list_alt</mat-icon>
  <span style="  font-size: 25px;">Livraison</span>
  <div fxFlex fxLayout="row" fxLayoutAlign="flex-end">
    <ul fxLayout="row" fxLayoutGap="20px"></ul>


  </div>
</mat-toolbar>
<div class="container">
  <div class="col-md-3">
    <button type="button" mat-raised-button routerLink="/creer-une-facture"><h2><mat-icon color="primary">add</mat-icon> Creer un livraison </h2> </button>
  </div>
  <div class="col-md-2">
    <mat-form-field> <input (keyup)="appliquerfilter(filtrage)" matInput placeholder="Filtrer" [(ngModel)]="filtrage" ></mat-form-field>
  </div>
</div>

<div  *ngIf="factures" >
  <div *ngIf="factures.length != 0">
    <div class="container">
      <div class="mat-elevation-z8">
        <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">


          <ng-container matColumnDef="N.o">
            <mat-header-cell *matHeaderCellDef> <span style="  font-size: 25px;"> <span>&#x2116;</span> Livraison </span> </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" style="background-color: {{getcolor(i)}}"> {{element.num_facture}} </mat-cell>
          </ng-container>
          <ng-container matColumnDef="num_commande">
            <mat-header-cell *matHeaderCellDef> <span style="  font-size: 25px;"> <span>&#x2116;</span> commande </span> </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" style="background-color: {{getcolor(i)}}">
              <div *ngIf="element.num_commande !== 0">{{element.num_commande}}</div>
              <div *ngIf="element.num_commande === 0">---</div>
            </mat-cell>
          </ng-container>
          nom_utilisateur,cin,date_activite_debut, 	date_activite_fin, edit, delete
          <ng-container matColumnDef="nom_client">
            <mat-header-cell *matHeaderCellDef> <span style="  font-size: 25px;"> Client</span> </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" style="background-color: {{getcolor(i)}}"> {{element.nom_client}} </mat-cell>
          </ng-container>


          <ng-container matColumnDef="total_ttc">
            <mat-header-cell *matHeaderCellDef><span style="  font-size: 25px;"> Total TTC</span>  </mat-header-cell>
            <mat-cell *matCellDef="let element let i = index" style="background-color: {{getcolor(i)}}"> {{element.	total_TTC}} {{configurationService.devise}} </mat-cell>
          </ng-container>
          <!--
                    <ng-container matColumnDef="objectif"  >
                      <mat-header-cell *matHeaderCellDef> <h2> Objectif : </h2> </mat-header-cell>
                      <mat-cell *matCellDef="let element"><button class="btn "  (click)="Ongetobjectif(element.id_commercial )"><mat-icon color="primary">done_all</mat-icon></button></mat-cell>
                    </ng-container>
          -->
          <ng-container matColumnDef="edit"  >
            <mat-header-cell *matHeaderCellDef> <h2>  </h2> </mat-header-cell>
            <mat-cell *matCellDef="let element"><button class="btn "  (click)="onModifier(element.idFacture )"><mat-icon color="primary">launch</mat-icon></button></mat-cell>
          </ng-container>

          <ng-container matColumnDef="suppression"  >
            <mat-header-cell *matHeaderCellDef> <h2> </h2> </mat-header-cell>
            <mat-cell *matCellDef="let element"><button class="btn "  (click)="onSupprimer(element.idFacture )"><mat-icon color="warn">delete_forever</mat-icon></button></mat-cell>
          </ng-container>

          <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
          <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
        </mat-table>
        <mat-paginator [pageSizeOptions]="[50, 20, 10, 5]" showFirstLastButtons></mat-paginator></div>
    </div>
  </div>
  <div *ngIf="factures == []">
    <div class="container">
      <h1 style="font-size:80px;font-weight:800;text-align:center;font-family: 'Roboto', sans-serif;">404</h1><br><br><br><br><br>
      <h2 style="font-size:25px;text-align:center;font-family: 'Roboto', sans-serif;margin-top:-40px;">
        Page non trouvée</h2>
      <p style="text-align:center;font-family: 'Roboto', sans-serif;font-size:12px;">
        La page que vous recherchez n'existe pas ou une autre erreur s'est produite.</p>
    </div>
  </div>
  <div *ngIf="factures.length == 0"><h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;">la liste des livraison est encore vide  ! </h3>
    <h3 style="font-size:30px;font-weight:300;text-align:center;font-family: 'Roboto', sans-serif;"><button mat-raised-button  routerLink="/creer-une-facture">Ajouter un nouveau bon de livraison </button> </h3></div>
</div>

