<div *ngIf="isLoading" class="loader-container"><mat-spinner  class="mat-spinner" style="top: 50%;left: 50% "></mat-spinner></div>

<form (ngSubmit)="onSubmitt(f)" #f="ngForm" class="container">
  <div class="row">
    <div class="col-md-3">
    <mat-form-field appearance="fill" >
      <mat-label>Commercial :</mat-label>
      <mat-select name="idCommercial" ngModel required
                  type="number" (selectionChange)="Select(f)">
        <mat-option >None</mat-option>
        <mat-option *ngFor="let commerial of optimisationService.commerciaux let  index = index"
                    value="{{commerial.id_commercial }}">{{index + 1}} &nbsp;&nbsp; {{commerial.nom}} </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-md-3">
    <mat-form-field appearance="fill">
      <mat-label>Date</mat-label>
      <input matInput ngModel [matDatepicker]="picker" required name="date" >
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
    <div class="col-md-3"></div>
    <div class="col-md-3">  <button type="submit"   mat-raised-button class="btn btn-success" [disabled]="!f.valid" >enregistrer</button></div>
 </div>

  <!-- Modification ------------------------------------------------------------------------------------------------------------------------------------------------------  >
  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Ville:</mat-label>
        <mat-select [formControl]="toppingsVille"  (selectionChange)="VilleGetPrefects(toppingsVille.value)" >
          <mat-option *ngFor="let ville of optimisationService.villes let  index = index" [value]="ville.code" >{{index + 1}} &nbsp;&nbsp; {{ville.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Prefect:</mat-label>
        <mat-select [formControl]="toppingsPrefect"  (selectionChange)="PrefectGetZones(toppingsPrefect.value)" >
          <mat-option *ngFor="let prefecture of this.prefecture let  index = index" [value]="prefecture.code" >{{index + 1}} &nbsp;&nbsp; {{prefecture.prefecture}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Zones:</mat-label>
        <mat-select [formControl]="toppingsZone" multiple (selectionChange)="Zones(toppingsVille.value, toppingsPrefect.value, toppingsZone.value)" >
          <mat-option *ngFor="let zone of this.zones let  index = index" [value]="zone.zone" >{{index + 1}} &nbsp;&nbsp; {{zone.zone}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
     <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Categorie:</mat-label>
        <mat-select [formControl]="toppingsCat" multiple>
          <mat-option *ngFor="let categorie of optimisationService.categories let  index = index" [value]="categorie.id" >{{categorie.id}} &nbsp;&nbsp; {{categorie.categorie}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-1"><button mat-raised-button [disabled]="toppingsVille.value === null && toppingsPrefect.value === null " type="button" (click)="getClientVillePrefectZones(toppingsVille.value, toppingsPrefect.value, toppingsZone.value, toppingsCat.value)"><mat-icon>search</mat-icon></button></div>

  </div>
  Modification ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
  <div class="row">
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Ville:</mat-label>
        <mat-select [formControl]="toppingsVille" multiple (selectionChange)="VilleGetPrefectsList(toppingsVille.value)" >
          <mat-option *ngFor="let ville of optimisationService.villes let  index = index" [value]="ville.code" >{{index + 1}} &nbsp;&nbsp; {{ville.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Prefect:</mat-label>
        <mat-select [formControl]="toppingsPrefect" multiple (selectionChange)="PrefectGetZonesList(toppingsPrefect.value)" >
          <mat-option *ngFor="let prefecture of this.prefecture let  index = index" [value]="prefecture.code" >{{index + 1}} &nbsp;&nbsp; {{prefecture.prefecture}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-3">
      <mat-form-field appearance="fill">
        <mat-label>Zones:</mat-label>
        <mat-select [formControl]="toppingsZone" multiple (selectionChange)="Zones(toppingsVille.value, toppingsPrefect.value, toppingsZone.value)" >
          <mat-option *ngFor="let zone of this.zones let  index = index" [value]="zone.zone" >{{index + 1}} &nbsp;&nbsp; {{zone.zone}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-2">
      <mat-form-field appearance="fill">
        <mat-label>Categorie:</mat-label>
        <mat-select [formControl]="toppingsCat" multiple>
          <mat-option *ngFor="let categorie of optimisationService.categories let  index = index" [value]="categorie.id" >{{categorie.id}} &nbsp;&nbsp; {{categorie.categorie}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="col-md-1"><button mat-raised-button [disabled]="toppingsVille.value === null && toppingsPrefect.value === null " type="button" (click)="getClientVillePrefectZonesList(toppingsVille.value, toppingsPrefect.value, toppingsZone.value, toppingsCat.value)"><mat-icon>search</mat-icon></button></div>

  </div>
  <!-- ***********************************************************************************************************************************************************-->
  <div class="row">
    <div class="col-md-3" *ngIf="!this.OptimisationCode" >  <button type="button" class="btn-success" mat-raised-button (click)="OptimisationCode1(f)" [disabled]="!f.value.idCommercial ">Activer l'lgorithme de plus court chemin</button></div>
    <div class="col-md-3" *ngIf="this.OptimisationCode" >  <button type="button" class="btn-danger" mat-raised-button  (click)="OptimisationCode1(f)">Desactiver l'algorithme</button></div>
    <div class="col-md-3">  <button mat-raised-button type="button" (click)="this.algorithmeOptimisationAvecContrainte(f)">Appliquer l'algoorithme d'optimisation</button></div>
    <div class="col-md-3">  <button type="button"  mat-raised-button *ngIf="!iteniraire">Consulter l'iteniraire sur la map</button> </div>
  </div>
</form>
<br>
<br>
<br>
<div  class="container">
  <div >
    <div class="mat-elevation-z8">
      <mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="N.o">
          <mat-header-cell *matHeaderCellDef> <h3> * </h3> </mat-header-cell>
          <mat-cell *matCellDef="let  i = index"> {{i +1}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="client">
          <mat-header-cell *matHeaderCellDef> <h3> Nom client </h3> </mat-header-cell>
          <mat-cell *matCellDef="let element">{{element.nom_client}}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="zone">
          <mat-header-cell *matHeaderCellDef> <h3> Zone</h3> </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.zone}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="categorie">
          <mat-header-cell *matHeaderCellDef> <h3> Categorie</h3> </mat-header-cell>
          <mat-cell *matCellDef="let element"> {{element.categorie_client}} </mat-cell>
        </ng-container>
        <ng-container matColumnDef="status">
          <mat-header-cell *matHeaderCellDef> <section class="example-section">
            <mat-slide-toggle class="example-margin" name="status" ngModel [(ngModel)] = "statuss" (change)="onSelect2(f)" color="primary">
            </mat-slide-toggle>
            Selectionner tout
          </section> </mat-header-cell>
          <mat-cell *matCellDef="let element">

            <section class="example-section">
              <mat-slide-toggle class="example-margin" name="status" ngModel [(ngModel)] = "element.statuss" (change)="onSelect(element, f)" color="primary">
              </mat-slide-toggle>
              Selectionné
            </section>
            <!-- (change)="OnchangeStatusCommande(element.idClient, element)"-->

          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="ordre"  >
          <mat-header-cell *matHeaderCellDef> <h2>   Ordre </h2> </mat-header-cell>
          <mat-cell *matCellDef="let element"><form #f1="ngForm" >
            <mat-form-field appearance="fill">
              <mat-label>Ordre</mat-label>
              <input matInput type="number" class="example-right-align"   ngModel
                     [(ngModel)] = "element.ordre" name="ordre"  [disabled]="!element.statuss"  (change)="onAffecterOrdre(f1.value.ordre, element)">
            </mat-form-field>
          </form>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="heure"  >
          <mat-header-cell *matHeaderCellDef> <h2>   Heure  </h2> </mat-header-cell>
          <mat-cell *matCellDef="let element"><form #f2="ngForm" >
            <mat-form-field appearance="fill">
              <mat-label>heure</mat-label>
              <input matInput type="number" step="0.01" class="example-right-align"   ngModel
                     [(ngModel)] = "element.heure" name="heure"  [disabled]="!element.statuss"  (change)="onAffecterheure(f2.value.heure, element)">
            </mat-form-field>
          </form>
          </mat-cell>
        </ng-container>
        <ng-container matColumnDef="priorite"  >
          <mat-header-cell *matHeaderCellDef>
            <mat-slide-toggle class="example-margin" name="priorite" ngModel [(ngModel)] = "priorite"  (change)="onSelectPriorite()"color="primary"><h2> priorite</h2>
            </mat-slide-toggle>
          </mat-header-cell>
          <mat-cell *matCellDef="let element"><form #f3="ngForm" >
            <mat-form-field appearance="fill">
              <mat-label>priorite</mat-label>
              <input matInput type="number" class="example-right-align"   ngModel
                     [(ngModel)] = "element.priorite" name="priorite"  [disabled]="!element.statuss || !priorite"  >
            </mat-form-field>
          </form>
          </mat-cell>
        </ng-container>
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      </mat-table>
      <mat-paginator [pageSizeOptions]="[5, 10, 20, 50]" showFirstLastButtons></mat-paginator>
    </div>
  </div>
  <!-- <button class="btn btn-success" (click)="Assign(assigned)" [disabled]="(assigned.length == 0) ">affecter</button> -->

</div>
<!--
<div *ngIf="optimisationService.liste !== undefined">
  <h2>solution </h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">position </th>
      <th scope="col">Heure</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let visite of optimisationService.liste; let i = index "   >
      <th scope="row">{{  i+1}}</th>
      <td>  {{ visite.client}}  </td>
      <td>  {{ visite.temps }}  </td>
    </tr>
    </tbody>
  </table>
  <br><br>
</div>
-->
